In [1]:
#import dependencies
from bs4 import BeautifulSoup
from splinter import Browser
import requests
import pandas as pd

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
#url and get page request
mars_url = 'https://mars.nasa.gov/news/'
browser.visit(mars_url)
# response = requests.get(mars_url)
html = browser.html
mars_soup = BeautifulSoup(html, 'html.parser')

In [4]:
news_title = mars_soup.find('div', class_='content_title').text.strip()
news_p = mars_soup.find('div', class_='rollover_description_inner').text.strip()
print(news_title)
print(news_p)

Beyond Mars, the Mini MarCO Spacecraft Fall Silent
The first CubeSat mission to deep space may have reached their limit, but they could inspire future NASA missions.

In [5]:
# get this 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22959_hires.jpg'
#soup.find("span", {"class": "real number", "data-value": True})['data-value']
mars_url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(mars_url2)
html_image = browser.html
mars_soup = BeautifulSoup(html_image, "html.parser")

base_url = 'https://www.jpl.nasa.gov'

In [6]:
img = mars_soup.find('article')['style'].replace('background-image: url(','').replace(');', '')[1:-1]
#mars_soup.find('div', class_='image_and_description_container').find('div', class_='list_image').img['src']

featured_img_url = f'{base_url}{img}'
print(featured_img_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA19913-1920x1200.jpg

In [7]:
mars_url3 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(mars_url3)
html_tweet = browser.html
mars_soup = BeautifulSoup(html_tweet, 'html.parser')

In [8]:
mars_weather_tweet = mars_soup.find_all('div', class_='js-tweet-text-container')

In [9]:
for tweet in mars_weather_tweet:
    if tweet.text.strip().startswith('Sol'):
        mars_weather = tweet.text.strip()
        break
print(mars_weather)

Sol 2308 (2019-02-02), high -13C/8F, low -71C/-95F, pressure at 8.14 hPa, daylight 06:47-18:54pic.twitter.com/slAaFVIn0T

In [10]:
mars_url4 = 'https://space-facts.com/mars/'
facts_data = pd.read_html(mars_url4)
facts_data[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [11]:
facts_df = facts_data[0]
facts_df.columns = ['Attribures','Values']
facts_df.head()

             Attribures                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [12]:
mars_url4 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(mars_url4)
html_hem = browser.html
mars_soup = BeautifulSoup(html_hem, 'html.parser')
mars_hemispheres = []

In [13]:
for x in range(4):
    image1 = browser.find_by_tag('h3')
    image1[x].click()
    html_hem = browser.html
    mars_soup = BeautifulSoup(html_hem, 'html.parser')
    img_baseurl = 'https://astrogeology.usgs.gov'
    img_partial1 = mars_soup.find('img', class_='wide-image')['src']
    img_title1 = mars_soup.find('h2', class_='title').text.strip()
    img_url1 = f'{img_baseurl}{img_partial1}'
    dic = {'Title': img_title1, 'url': img_url1}
    mars_hemispheres.append(dic)
    browser.back()

In [14]:
print(mars_hemispheres)

[{'Title': 'Cerberus Hemisphere Enhanced', 'url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}, {'Title': 'Schiaparelli Hemisphere Enhanced', 'url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'}, {'Title': 'Syrtis Major Hemisphere Enhanced', 'url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}, {'Title': 'Valles Marineris Hemisphere Enhanced', 'url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]